.main {
  width: 100%;
  min-height: 40vh;
  text-align: center;
  background-color: #000;
  padding-top: 120px;
  padding-bottom: 50px;
}
.main > h1 {
  background: -webkit-linear-gradient(0deg, #eeeeee 29.18%, #15c16a 96.06%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-style: normal;
  font-weight: 200;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  margin-bottom: 40px;
}
.container {
  width: 97%;
  margin: auto;
  height: 100%;
}
.image {
  width: 200px;
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 413px;
  border: 1px solid;
  box-shadow: 0px 0px 10px 0px;
  border-radius: 35px;
  margin: auto;
  background-size: cover;
  background-position: center;
}
.card a {
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  color: #0f2b53;
  text-decoration: none;
}
.main button {
  display: none !important;
  /* outline: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3); */
}
/* .main button:hover {
  background: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.main button:focus {
  background: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
} */
.content {
  width: 80%;
  margin: auto;
  text-align: left;
  height: 80%;
}
.content p {
  font-weight: 100;
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.6);
  margin: 16px 0px;
}
.content h3 {
  font-weight: 100;
  font-size: 26px;
  line-height: 34px;
  color: #ffffff;
}
.view {
  width: 81px;
  height: 28px;

  background: rgba(239, 239, 239, 0.2);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 20px 10%;
  color: #fff;
}
.view img {
  margin-right: 10px;
}
.view p {
  font-weight: 100;
  font-size: 12px;
}

@media screen and (max-width: 760px) {
  .main {
    height: 100vh;
    padding: 0;
    /* padding-bottom: 50px; */
  }
  .card {
    width: 327px;
    /* margin-bottom: 50px; */
    /* height: 252px; */
  }
  .main > h1 {
    font-size: 36px;
  }
  .content h3 {
    font-size: 20px;
    line-height: 26px;
  }
  .content p {
    font-size: 12px;
  }
  .main button {
    display: none;
    /* height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center; */
  }
}
