.main {
  width: 100%;
  max-width: 1440px;
  height: 104px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 32px 104px;
  box-sizing: border-box;
  background-color: rgb(2, 12, 17);
  position: fixed;
  z-index: 101;
}
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logoCard {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  width: auto;
  height: 45px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(257.44px);
  border-radius: 27.4603px;
}
.logoBrand {
  width: 130px;
  height: 34px;
  margin-right: 10px;
}
.logoStatus {
  height: 34px;
  margin-left: 5px;
}
.content {
  display: flex;
  height: 24px;
}
.content a {
  padding: 0 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}
.content a:hover {
  color: rgb(181, 181, 181);
}
@media screen and (max-width: 1024px) {
  .main {
    padding: 0 30px;
  }
  .content a {
    font-size: 14px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 720px) {
  .main {
    display: none;
  }
}
