.main {
  display: none;
}
@media screen and (max-width: 760px) {
  .main {
    display: block;
    min-height: 60px;
    background-color: #000;
    position: fixed;
    width: 100%;
    z-index: 100;
  }
  .container {
    width: 80%;
    margin: auto;
  }
  .visible {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  .visible .logo {
    width: 89px;
    height: 23.49px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .visible .menu {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
  }
  .invisible {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgb(63, 71, 81);
    z-index: 101;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .buttons {
    height: 179px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
  }
  .buttons > div {
    width: 340px;
    height: 56px;
    border-radius: 40px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .buttonGreen {
    background: linear-gradient(270deg, #24e029 0%, #00b9ac 100%);
    cursor: pointer;
  }
  .buttons .buttonGreen h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0px 8px;
  }
  .buttonBlack {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 32px;

    position: static;
    width: 316px;
    height: 55px;
    left: 340px;
    top: 0.5px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 30px;
    cursor: pointer;
  }
  .buttonBlack h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.7);
  }
  .close {
    width: 32px;
    height: 32px;
    background-size: contain;
    margin-left: 85%;
    margin-top: 12px;
    cursor: pointer;
  }
  .top {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .content {
    margin-top: 50px;
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content a {
    font-weight: 300;
    font-size: 20px;
    line-height: 32px;
    text-decoration: none;
    text-align: center;
    margin: 16px auto;
    color: #ffffff;
  }
}
