.main {
  height: 284px;
  width: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 167px;
  height: 55px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button h2 {
  font-style: normal;
  font-weight: 100;
  font-size: 16px;
  line-height: 23px;
  color: #ffffff;
}

.button:hover {
  background: rgba(255, 255, 255, 0.3) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.button:active {
  background: rgba(255, 255, 255, 0.05) !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
